vapiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-practice
  labels:
    app: nginx
spec:
  replicas: 2 # maintianing only two pods for nginx
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
        volumeMount:
          - name: db-secret
            mountPath: "/etc/dbcredentials"
            readOnly: true

      volume:
      - name: db-secret
      - secret: 
          secretName: username

# kubectl apply -f kubernetes-deployment.yml
# this deployment is used to create a 3 pods using replicaset=3
# to check replica set 
# kubectl get rs
# kubectl get replicaset 
# images useded to create a pod is nginx:1.14.2

## use secrets, mount as file 
# kubectl exec -it pod_name  -- cat /etc/dbcredentials
Outpus: YWRtaW4= 
